:root {
        --size: 50vmin;
        --white: #fff;
        --blue: #3051f1;
        --purple: #c92bb7;
        --red: #f73344;
        --orange: #fa8e37;
        --yellow: #fcdf8f;
        --yellow_to: #fbd377;
    }
    
    body {
        display: grid;
        place-items: center;
        min-height: 100vh;
        margin: 0;
        background-color: #f0f2f5;
    }
    
    .instagram-logo {
        font-size: var(--size);
        width: 200px;
        height: 200px;
        background: radial-gradient(circle farthest-corner at 28% 100%, var(--yellow) 0%, var(--yellow_to) 10%, var(--orange) 22%, var(--red) 35%, transparent 65%), linear-gradient(145deg, var(--blue) 10%, var(--purple) 70%);
        border-radius: 0.2em;
        display: grid;
        place-items: center;
        position: relative;
        border-radius: 40px;
       
    }
    
    .camera-outline {
        width: 120px;
        height: 120px;
        border: 12px solid var(--white);
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
    }
    
    .camera-lens {
        width: 50px;
        height: 50px;
        border: 10px solid var(--white);
        border-radius: 50%;
    }
    
    .camera-flash {
        width: 15px;
        height: 15px;
        background-color: var(--white);
        border-radius: 50%;
        position: absolute;
        top: 15px;
        right: 15px;
    }
    